<form name="convectorForm">

  <!-- input field inflow -->
  <div class="row-wrapper">
    <label for="convector-flow" class="col-form-label">Tillopp:</label>
    <input type="number" class="input-field form-control"
    name="flow" id="convector-flow"
    ng-model="convector.flow"
    data-ng-min="0" data-ng-max="100"
    required>
    <label for="convector-flow" class="input-unit">&#8451</label>
    <div class="error" ng-messages="convectorForm.flow.$error" role="alert">
      <div ng-message="required">Tomt fält</div>
      <div ng-message="min">Min 0</div>
      <div ng-message="max">Max 100</div>
    </div>
    <div class="error" ng-show="convectorForm.flow.$error.number" role="alert">Ogiltigt tal</div>
  </div>

  <!-- input field return -->
  <div class="row-wrapper">
    <label for="convector-return" class="col-form-label">Retur:</label>
    <input type="number" class="input-field form-control"
    name="return" id="convector-return"
    ng-model="convector.return"
    data-ng-min="0" data-ng-max="100"
    required>
    <label for="convector-flow" class="input-unit">&#8451</label>
    <div class="error" ng-messages="convectorForm.return.$error" role="alert">
      <div ng-message="required">Tomt fält</div>
      <div ng-message="min">Min 0</div>
      <div ng-message="max">Max 100</div>
    </div>
    <div class="error" ng-show="convectorForm.return.$error.number" role="alert">Ogiltigt tal</div>
  </div>

  <!-- input room -->
  <div class="row-wrapper">
    <label for="convector-room" class="col-form-label">Rum:</label>
      <input type="number"
      class="input-field form-control"
      name="room" id="convector-room"
      ng-model="convector.room"
      data-ng-min="0" data-ng-max="35" required>
      <label for="convector-room" class="input-unit">&#8451</label>

    <div class="error" ng-messages="convectorForm.room.$error" role="alert">
      <div ng-message="required">Tomt fält</div>
      <div ng-message="min">Min 0</div>
      <div ng-message="max">Max 35</div>
    </div>
    <div class="error" ng-show="convectorForm.room.$error.number" role="alert">Ogiltigt tal</div>
  </div>

  <!-- input effect -->
  <div class="row-wrapper">
      <label for="convector-effect" class="col-form-label">Effekt:</label>
      <input type="number"
      class="input-field form-control"
      name="watt" id="convector-effect"
      ng-model="convector.watt"
      data-ng-min="200" data-ng-max="10000" required>
      <label for="convector-effect" class="input-unit">W</label>

    <div class="error" ng-messages="convectorForm.watt.$error" role="alert">
      <div ng-message="required">Tomt fält</div>
      <div ng-message="min">Min 200</div>
      <div ng-message="max">Max 10000</div>
    </div>
    <div class="error" ng-show="convectorForm.watt.$error.number" role="alert">Ogiltigt tal</div>
  </div>

  <!-- input length -->
  <div class="row-wrapper">
    <label for="convector-length" class="col-form-label">Längd:</label>
      <input type="number"
      class="input-field form-control"
      name="length" id="convector-length"
      ng-model="convector.length"
      data-ng-min="400" data-ng-max="6000" required>
      <label for="convector-length" class="input-unit">MM</label>

    <div class="error" ng-messages="convectorForm.length.$error" role="alert">
      <div ng-message="required">Tomt fält</div>
      <div ng-message="min">Min 400</div>
      <div ng-message="max">Max 6000</div>
    </div>
    <div class="error" ng-show="convectorForm.length.$error.number" role="alert">Ogiltigt tal</div>
  </div>

  <!-- dropdown height -->
  <div class="row-wrapper">
    <label for="convector-height" class="col-form-label">Höjd:</label>
      <select
        class="input-field form-control"
        id="convector-height"
        ng-model="convector.height"
        ng-options="height for height in convectorHeights">
      </select>
      <label for="proline-height" class="input-unit">MM</label>
  </div>

  <!-- submit form -->
  <button type="submit" class="btn btn-primary" ng-click="calculateConvector()">Beräkna</button>
</form>
