
  <table class="dimensions-table">
	<tr class="row">
		<th class="col col-42">Bilder</th>
		<th class="col col-18">Konvektortyp</th>
		<th class="col col-10">Längd</th>
    <th class="col col-10">Effekt</th>
    <th class="col col-10">Längd</th>
    <th class="col col-10">Effekt</th>
	</tr>
    <tr class="row" ng-repeat="row in tableArray">
  		<td class="col col-42">{{row[0]}}</td>
  		<td class="col col-18">{{row[1]}}</td>
      <td class="col col-10">{{row[2]}}</td>
      <td class="col col-10">{{row[3]}}</td>
      <td class="col col-10">{{row[4]}}</td>
      <td class="col col-10">{{row[5]}}</td>
  	</tr>
</table>
</div>
