
  <table class="dimensions-table">
	<tr class="row">
		<th class="col col-30">Bilder</th>
		<th class="col col-22">Konvektortyp</th>
		<th class="col col-12">Längd</th>
    <th class="col col-12">Effekt</th>
    <th class="col col-12">Längd</th>
    <th class="col col-12">Effekt</th>
	</tr>
    <tr class="row" ng-repeat="row in tableArray">
  		<td class="col col-30">1</td>
  		<td class="col col-22">{{row[0]}}</td>
      <td class="col col-12">{{row[1]}}</td>
      <td class="col col-12">{{row[2]}}</td>
      <td class="col col-12">{{row[3]}}</td>
      <td class="col col-12">{{row[4]}}</td>
  	</tr>
</table>
</div>
