<form name="skylineForm">
  <!-- dropdown flow -->
  <div class="row">
    <label for="skyline-flow" class="col col-20 col-form-label">Tillopp:</label>
      <select
        id="skyline-flow"
        class="form-control col col-30 input-field"
        ng-model="skyline.flow"
        ng-options="flow for flow in skylineFlows">
      </select>
      <label for="skyline-flow" class="col col-20 input-unit">&#8451</label>

  </div>

  <!-- dropdown return -->
  <div class="row">
    <label for="skyline-return" class="col col-20 col-form-label">Retur:</label>
      <select
        id="skyline-return"
        class="form-control col col-30 input-field"
        ng-model="skyline.return"
        ng-options="return for return in skylineReturns">
      </select>
      <label for="skyline-return" class="col col-20 input-unit">&#8451</label>
  </div>

  <!-- dropdown room -->
  <div class="row">
    <label for="skyline-room" class="col col-20 col-form-label">Rum:</label>
      <select
        id="skyline-room"
        class="form-control col col-30 input-field"
        ng-model="skyline.room"
        ng-options="room for room in skylineRooms">
      </select>
      <label for="skyline-room" class="col col-20 input-unit">&#8451</label>
  </div>

  <!-- input effect -->
  <div class="row">
    <label for="skyline-effect" class="col col-20 col-form-label">Effekt:</label>
      <input type="number"
      name="effect" id="skyline-effect"
      class="form-control col col-30 input-field"
      ng-model="skyline.effect"
      data-ng-min="200" data-ng-max="10000" required>
      <label for="skyline-effect" class="col col-20 input-unit">W</label>
    <div class="error" ng-messages="skylineForm.effect.$error" role="alert">
      <div ng-message="required">Tomt fält</div>
      <div ng-message="min">Min 200</div>
      <div ng-message="max">Max 10000</div>
    </div>
    <div class="error" ng-show="skylineForm.effect.$error.number" role="alert">Ogiltigt tal</div>
  </div>

  <!-- input length -->
  <div class="row">
    <label for="skyline-length" class="col col-20 col-form-label">Längd:</label>
      <input type="number"
      name="length" id="skyline-length"
      class="form-control col col-30 input-field"
      ng-model="skyline.length"
      data-ng-min="skyline.minLen" data-ng-max="skyline.maxLen" required>
      <label for="skyline-length" class="col col-20 input-unit">MM</label>
    <div class="error" ng-messages="skylineForm.length.$error" role="alert">
      <div ng-message="required">Tomt fält</div>
      <div ng-message="min">Min {{skyline.minLen}}</div>
      <div ng-message="max">Max {{skyline.maxLen}}</div>
    </div>
    <div class="error" ng-show="skylineForm.length.$error.number" role="alert">Ogiltigt tal</div>
  </div>


  <!-- submit form -->
  <button type="submit" class="btn btn-primary" ng-click="calculateRows(skyline)">Beräkna</button>
</form>
