<form name="skylineForm">
  <!-- dropdown flow -->
  <div class="row-wrapper">
    <label for="skyline-flow" class="col-form-label">Tillopp:</label>
      <select
        id="skyline-flow"
        class="input-field form-control"
        ng-model="skyline.flow"
        ng-options="flow for flow in skylineFlows">
      </select>
      <label for="skyline-flow" class="input-unit">&#8451</label>

  </div>

  <!-- dropdown return -->
  <div class="row-wrapper">
    <label for="skyline-return" class="col-form-label">Retur:</label>
      <select
        id="skyline-return"
        class="input-field form-control"
        ng-model="skyline.return"
        ng-options="return for return in skylineReturns">
      </select>
      <label for="skyline-return" class="input-unit">&#8451</label>
  </div>

  <!-- dropdown room -->
  <div class="row-wrapper">
    <label for="skyline-room" class="col-form-label">Rum:</label>
      <select
        id="skyline-room"
        class="input-field form-control"
        ng-model="skyline.room"
        ng-options="room for room in skylineRooms">
      </select>
      <label for="skyline-room" class="input-unit">&#8451</label>
  </div>

  <!-- input effect -->
  <div class="row-wrapper">
    <label for="skyline-effect" class="col-form-label">Effekt:</label>
      <input type="number"
      name="watt" id="skyline-effect"
      class="input-field form-control"
      ng-model="skyline.watt"
      data-ng-min="200" data-ng-max="10000" required>
      <label for="skyline-effect" class="input-unit">W</label>
    <div class="error" ng-messages="skylineForm.watt.$error" role="alert">
      <div ng-message="required">Tomt fält</div>
      <div ng-message="min">Min 200</div>
      <div ng-message="max">Max 10000</div>
    </div>
  </div>

  <!-- input length -->
  <div class="row-wrapper">
    <label for="skyline-length" class="col-form-label">Längd:</label>
      <input type="number"
      name="length" id="skyline-length"
      class="input-field form-control"
      ng-model="skyline.length"
      data-ng-min="400" data-ng-max="6000" required>
      <label for="skyline-length" class="input-unit">MM</label>
    </label>
    <div class="error" ng-messages="skylineForm.length.$error" role="alert">
      <div ng-message="required">Tomt fält</div>
      <div ng-message="min">Min 400</div>
      <div ng-message="max">Max 6000</div>
    </div>
  </div>


  <!-- submit form -->
  <button type="submit" class="btn btn-primary" ng-click="">Beräkna</button>
</form>
