<form name="verticalForm">

  <!-- dropdown flow -->
  <div class="row-wrapper">
    <label for="lline-flow" class="col-form-label">Tillopp:</label>
      <select
        id="vertical-flow"
        class="input-field form-control"
        ng-model="vertical.flow"
        ng-options="flow for flow in verticalFlows">
      </select>
      <label for="vertical-flow" class="input-unit">&#8451</label>
  </div>

  <!-- dropdown return -->
  <div class="row-wrapper">
    <label for="vertical-return" class="col-form-label">Retur:</label>
      <select
        id="vertical-return"
        class="input-field form-control"
        ng-model="vertical.return"
        ng-options="return for return in verticalReturns">
      </select>
      <label for="vertical-return" class="input-unit">&#8451</label>
  </div>

  <!-- input room -->
  <div class="row-wrapper">
    <label for="vertical-room" class="col-form-label">Rum:</label>
      <input type="number"
      class="input-field form-control"
      name="room" id="vertical-room"
      ng-model="vertical.room"
      data-ng-min="0" data-ng-max="35" required>
      <label for="vertical-room" class="input-unit">&#8451</label>

    <div class="error" ng-messages="verticalForm.room.$error" role="alert">
      <div ng-message="required">Tomt fält</div>
      <div ng-message="min">Min 0</div>
      <div ng-message="max">Max 35</div>
    </div>
    <div class="error" ng-show="verticalForm.room.$error.number" role="alert">Ogiltigt tal</div>
  </div>

  <!-- dropdown length -->
  <div class="row-wrapper">
    <label for="vertical-length" class="col-form-label">Längd:</label>
      <select
        class="input-field form-control"
        id="vertical-length"
        ng-model="vertical.length"
        ng-options="length for length in verticalLengths">
      </select>
      <label for="vertical-length" class="input-unit">MM</label>
  </div>

  <!-- input effect -->
  <div class="row-wrapper">
    <label for="vertical-effect" class="col-form-label">Effekt:</label>
      <input type="number"
      name="watt" id="vertical-effect"
      class="input-field form-control"
      ng-model="vertical.watt"
      data-ng-min="200" data-ng-max="10000" required>
      <label for="vertical-effect" class="input-unit">W</label>
    <div class="error" ng-messages="verticalForm.watt.$error" role="alert">
      <div ng-message="required">Tomt fält</div>
      <div ng-message="min">Min 200</div>
      <div ng-message="max">Max 10000</div>
    </div>
    <div class="error" ng-show="verticalForm.watt.$error.number" role="alert">Ogiltigt tal</div>
  </div>

  <!-- input heigth -->
  <div class="row-wrapper">
    <label for="vertical-height" class="col-form-label">Höjd:</label>
      <input type="number"
      name="height" id="vertical-height"
      class="input-field form-control"
      ng-model="vertical.height">
      <label for="vertical-height" class="input-unit">MM</label>
    <div class="error" ng-messages="verticalForm.height.$error" role="alert">
      <div ng-message="required">Tomt fält</div>
      <div class="error" ng-show="verticalForm.height.$error.number" role="alert">Ogiltigt tal</div>
    </div>
  </div>

  <!-- submit form -->
  <button type="submit" class="btn btn-primary" ng-click="calculateVertical()">Beräkna</button>
</form>
