<ion-view ng-controller="DimensionsCtrl">
  <ion-header-bar class="bar-subheader bar-dark">
    <h2 class="title">Dimensioner</h2>
  </ion-header-bar>

  <ion-content>

    <dimension-dir>

      <!-- shared error message -->
      <div ng-show="error" class="alert alert-danger">
          {{error}}
      </div>

      <!-- heat system dropdown -->
      <div ng-if="!showTable">
        <select
          ng-model="selectedHeatSystem"
          ng-change="dropDownChange(selectedHeatSystem)"
          ng-options="system for system in heatSystems">
        </select>
      </div>

      <!-- dropdown selected value
      decides form view -->
      <con-proline ng-if="selectedHeatSystem == heatSystems[0] && !showTable"></con-proline>
      <con-lline ng-if="selectedHeatSystem == heatSystems[1] && !showTable"></con-lline>
      <con-skyline ng-if="selectedHeatSystem == heatSystems[2] && !showTable"></con-skyline>
      <con-finned ng-if="selectedHeatSystem == heatSystems[3] && !showTable"></con-finned>
      <con-convector ng-if="selectedHeatSystem == heatSystems[4] && !showTable"></con-convector>
      <con-vertical ng-if="selectedHeatSystem == heatSystems[5] && !showTable"></con-vertical>

      <!-- table view with calculated values -->
      <con-table ng-if="showTable"></con-table>
    </dimension-dir>
  </ion-content>
</ion-view>
