
.error{
  color: red;
}
.row-wrapper{
  display: table;
  text-align: center;
  width: 96%;
  margin-left: 2%;
  margin-right: 2%;
}
.col-form-label{
  width: 20%;
  display: table-cell;
  text-align: left;
}
.input-unit{
  width: 10%;
  display: table-cell;
}
.input-field{
  width: 64%;
}

.btn-calculate{
  margin-left: 2%;
}
